<!DOCTYPE html>
<html>
  <head>
     <meta http-equiv="ContentTyle" content="text/html;charset=utf-8">
       <title> Главная - доска объявлений</title>
</head>
<body>
    <h1> Объявления </h1>
    
    <div>
            <a href="{% url 'index' %}">Главная</a>
        {% for rubric in rubrics %}
        <а href="{% url 'by_rubric' rubric.pk %}">{{ rubric.name }}</а> 
        {% endfor %} 
    </div> 
        {% for bb in bbs %} 
    <div> 
      <h2>{{ bb.title }}</h2> 
       <р>{{ bb.content }}</р> 
       <р><а href="/bboard/{{ bb.rubric.pk }}/">{{ bb.rubric.name }}</а></р> 
       <р>{{ bb.pablished|date:"d.m.Y H:i:s" }}</р> 
      </div> 
        {% endfor %} 
</body> 
</html>
